{% extends "layout.html" %}

{% block content %}
  <h3>{{ page.title }}<small> (<a href="{{ page.route }}/similar">Similar</a>)</small></h3>
  <h4>by <a href="/users/{{ page.author.id }}">{{ page.author.name }}</a></h4>
  <ul>
     {% for tag in page.tags %}
       <li>
         <a href="/wiki/search/{{ tag }}">{{ tag }}</a>
       </li>
     {% endfor %}
  </ul>
  <hr/>
  <div class="page-body">
    {% autoescape false %}{{ page.renderedContent }}{% endautoescape %}
  </div>
  <hr/>
  <a href="{{ page.route }}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{ page.route }}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}